body {
  background-color: yellow;
}

.card {
  width: 350px;
  height: 500px;
  background: white;
  border-radius: 12px;
  box-shadow: 10px 5px 3px 5px rgba(0,0,0,0.15);
  margin: auto;
  margin-top: 50px;
  margin-left: 20px;
  padding: 20px;

}

.btn{
  background-color: yellow;
  font-family:Arial, Helvetica, sans-serif;
  padding-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  font-weight: bold;
}

.paragraph {
  font-size: 20px;
  color: black;
  font-family: figtree-medium, sans-serif;
  font-weight: 300;
}

.h1 {
  font-size: 25px;
  color: black;
  font-family: figtree-medium, sans-serif;
  padding-top: 1px;
  font-weight: bold;
}

.p2 {
  font-size: 15px;
  color: black;
  font-family: figtree-medium, sans-serif;
  padding-top: 1px;
  font-weight: 100;
}

.profile{
  display: flex;
  gap: 10px;
  font-size: small;
}